<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.570146217692-o9bkv7td5ll1ri7rvnkk2jeg1flghec4</string>
            </array>
        </dict>
    </array>
    <key>GIDClientID</key>
    <string>570146217692-o9bkv7td5ll1ri7rvnkk2jeg1flghec4.apps.googleusercontent.com</string>
</dict>
</plist>
